<h1>Show player's details</h1>

<p><%= player.number %></p>
<p><%= player.firstname %></p>
<p><%= player.lastname %></p>
<p><%= player.email %></p>
<p><%= player.mobile %></p>

<a href="/api">Back to home</a>