<% include partials/header %>

<h1>api home</h1>

<% players.forEach((player) => { %>
    <li>
        <h4><%= player.number %></h4>
        <h4><%= player.firstname %></h4>
        <h4><%= player.lastname %></h4>
        <h4><%= player.email %></h4>
        <h4><%= player.mobile %></h4>
        <a href="/api/rosters/<%= player._id %>" class="btn">More Details</a>
        <a href="/api/rosters/<%= player._id %>/edit" class="btn">Edit</a>
        <form action="/api/rosters/<%= player._id %>?_method=DELETE" method="POST">
            <button class="btn btn-large">Delete</button>
        </form>
    </li>

<% }); %>

<% include partials/footer %>