<% include partials/header %>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">APIHOME</h1>
    <div class="row center">
      <h5 class="header col s12 light">Player roster updates</h5>
    </div>
    <div class="row center">
      <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">
    <div class="row">
      <form class="col s12" action="/api/teams/<%= team._id %>?_method=PUT" method="POST">
        <% let roster = team.players; %>
        <% for (var i = 0; i < team.players.length; i++) { %>
        <div class="row">
          <div class="input-field col s1">
            <input id="number" type="number" class="validate" name="player[<%=i%>][number]" value="<%= roster[i].number %>">
            <label for="number">No.</label>
          </div>
          <div class="input-field col s2">
            <input id="first_name" type="text" class="validate" name="player[<%=i%>][firstname]" value="<%= roster[i].firstname %>">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s2">
            <input id="last_name" type="text" class="validate" name="player[<%=i%>][lastname]" value="<%= roster[i].lastname %>">
            <label for="last_name">Last Name</label>
          </div>
          <div class="input-field col s4">
            <input id="email" type="email" class="validate" name="player[<%=i%>][email]" value="<%= roster[i].email %>">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s3">
            <input id="mobile" type="text" class="validate" name="player[<%=i%>][mobile]" value="<%= roster[i].mobile %>">
            <label for="mobile">Mobile</label>
          </div>
        </div>
        <!-- <a href="/api/teams/<%= team._id %>/players/<%= /* player._id */ %>/edit" class="btn"> + </a>
        <a href="/api/teams/<%= team._id %>/players/<%= /* player._id */ %>" class="btn">More Details</a> -->
        <!-- <a href="/api/teams/<%= team._id %>/players/<%= /* player._id */ %>?_method=DELETE" class="btn">Delete</a> -->
        <% }; %>
        <button class="btn">Save</button>
      </form>
    </div>
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis nunc id ipsum vestibulum finibus. Etiam non velit ex. Phasellus molestie ex ac leo sagittis, vel bibendum enim porttitor.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis nunc id ipsum vestibulum finibus. Etiam non velit ex. Phasellus molestie ex ac leo sagittis, vel bibendum enim porttitor.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis nunc id ipsum vestibulum finibus. Etiam non velit ex. Phasellus molestie ex ac leo sagittis, vel bibendum enim porttitor.</p>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>

<% include partials/footer %>